<!DOCTYPE html>
<html>
    <head>
        <title>CryptChat</title>
        <link rel="stylesheet" href="/css/chat.css">
    </head>

    <body>
        <div id = "topBar">
            <div id="chatVerticalBar">
                <div id="topBackBtn" class="topBtn" onclick="openDrawer()">
                    <img src="/resources/back-inverse.png">
                </div>
                <div class="profileImg">
                    <img src="/resources/test.png">
                </div>
                <div class="topCenterText">
                    <p>Jonas</p>
                </div>
                <div class="callIcon topBtn">
                    <img src="/resources/call-inverse.png">
                </div>
                <div class="drawerIcon topBtn">
                    <img src="/resources/menu-inverse.png">
                </div>
            </div>

            <div id="horizontalBar">
                <!-- <input type="file" id="file-selector" accept=".txt" onchange="openFile(event)"> -->
            </div>

            <div id="drawerVerticalBar">
                <input type="file" id="file-selector" accept=".txt" onchange="openFile(event)">
            </div>

            
            <!-- <input type="file" id="file-selector" accept=".txt" onchange="openFile(event)"> -->
        </div>
        <div id = "bottomSection">
            <div class = "spacer"></div>
            <div id = "chatDrawer"> 
                <!-- <input type="file" id="file-selector" accept=".txt" onchange="openFile(event)"><br>
                <button onClick="createDiv()">Create Element</button>
                <div id="main-container"></div> -->
                <div class="chatPrev activeChat" onclick="openChat(this)"> 
                    <img src="/resources/test.png" class="prevImg">
                    <div class="prevTextContainer">
                        <p class="nameTxt">Jonas</p>
                        <p class="prevTxt">Hallo, das ist eine heftige Test Nachricht 1</p>
                    </div>
                </div>
                <div class="chatPrev" onclick="openChat(this)"> 
                    <img src="/resources/test.png" class="prevImg">
                    <div class="prevTextContainer">
                        <p class="nameTxt">Jonas</p>
                        <p class="prevTxt">Hallo, das ist eine Test Nachricht 2</p>
                    </div>
                </div>
                <div class="chatPrev" onclick="openChat(this)"> 
                    <img src="/resources/test.png" class="prevImg">
                    <div class="prevTextContainer">
                        <p class="nameTxt">Jonas</p>
                        <p class="prevTxt">Hallo, das ist eine Test Nachricht 3</p>
                    </div>
                </div>
                <div class="chatPrev" onclick="openChat(this)"> 
                    <img src="/resources/test.png" class="prevImg">
                    <div class="prevTextContainer">
                        <p class="nameTxt">Jonas</p>
                        <p class="prevTxt">Hallo, das ist eine Test Nachricht 4</p>
                    </div>
                </div>
            </div>
    
            <div id = "chatBox">
                <div id="chatWrapper"> 
                    <div class="msgWrapper"> 
                        <div class="bufferBox">

                        </div>
                    </div>
                    <div class="msgWrapper">
                        <div class=" rightBox imgBox">
                            <img src="/resources/testImg1.jpg">
                        </div>
                    </div>
                    <div class="msgWrapper">
                        <div class=" leftBox imgBox">
                            <img src="/resources/testImg2.jpg">
                            <p class="imgTxt"> test Msg, sehr lang um linebreak zu testen</p>
                        </div>
                    </div>
                    <div class="msgWrapper">
                        <div class=" rightBox imgBox">
                            <img src="/resources/test.png">
                        </div>
                    </div>

                    <div id="chatEndBox"></div>
                </div>    
                <div id="textBoxContainer">
                    <div id="sendDoc">
                        <img src="/resources/paper-clip.png">
                    </div>
                    <div id="txtBox">
                        <textarea oninput="auto_grow(this)" id="tempId3232"></textarea>
                    </div>
                    <div id="sendChatBtn">
                        <img src="/resources/send.png">
                    </div>
                </div>
            </div>
            
            <div class ="spacer">
                <div id="eventBar">
                    <div class="eventBarIcon">
                        <img src="/resources/call-inverse.png">
                    </div>
                    <div class="eventBarIcon">
                        <img src="/resources/call-inverse.png">
                    </div>
                </div>
                <img src="/resources/test.png" id="profileIcon">
            </div>
        </div>
    
        <div id="trademark" style=" position: absolute; bottom: 10px; left: 10px;">
            <p>©Cryptchat 2022</p>
        </div>

    </body>

    <script src="/js/chat.js"></script> 
    <script src="/js/design.js"></script> 
</html>