<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/forms.css">
    </head>
    <body>
        <div id="container">
            <h1>Login</h1>
            <form>
                <input id="username" class="activeForm forms" type="text" onclick="changeActive(this)">
                <input id="password" class="forms" type="password" onclick="changeActive(this)">
                <button id="submitBtn" type="submit">Login</button>
            </form>
        </div>
    </body>
    <script src="js/forms/forms.js"></script>
</html>